/* Animations */

// Scroll Triggered Ani
// .animate-on-scroll,
// [data-sectionstate="inactive"] {
//     transition: all linear 1s;
//     opacity: 0;
// }

// .animate-on-scroll[data-sectionstate="active"] {
//     opacity: 1;
// }

.hero,
.hero[data-sectionstate="inactive"] {

    .hero-fade-in {
        transition: all .5s ease-out;
        opacity: 0;
        transform: translate(0,-20px);
        &:nth-child(1) {transition-delay: .3s;}
        &:nth-child(2) {transition-delay: .7s;}
        &:nth-child(3) {transition-delay: 1s;}
        &:nth-child(4) {transition-delay: 1.2s;}
        &:nth-child(5) {transition-delay: 1.5s;}
    }
    #hero-gif,
    #about-gif {
        transition: all .5s ease-out;
        transition-delay: 1s;
        opacity: 0;
        transform: scale(0.95) translate(-30px,5px);
        transform-origin: bottom center;
    }
    h1 span {
        display: inline-block;
        transition: all .5s ease-out;
        opacity: 0;
        transform: scale(0.9);
        transform-origin: left center;
        &:nth-child(1) {transition-delay: .8s;}
        &:nth-child(3) {transition-delay: .9s;}
        &:nth-child(4) {transition-delay: 1s;}
    }

    &[data-sectionstate="active"] {
        .hero-fade-in {
            opacity: 1;
            transform: translate(0,0); 
        }
        h1 span {
            opacity: 1;
            transform: scale(1);
        }
        #hero-gif,
        #about-gif {
            opacity: 1;
            transform: scale(1) translate(0,0);
    }
    }
}

#shop-panel {
    .text-centered {
      transition: all .5s ease-out;
      transition-delay: 2s;
      opacity: 0;
      transform: translate(0,-30px); 
    }

    &[data-sectionstate="active"] {
      .text-centered {
        opacity: 1;
        transform: translate(0px,0px);
        }
      }
}

// Drop-In Children with Delays
.animal-icons,
.animal-icons[data-sectionstate="inactive"] {
 * {
        transition: all 1s ease-out;
        opacity: 0;
        transform: translate(0,-20px);
        &:nth-child(1) {transition-delay: 2.5s;}
        &:nth-child(2) {transition-delay: 2.7s;}
        &:nth-child(3) {transition-delay: 3s;}
        &:nth-child(4) {transition-delay: 3.2s;}
        &:nth-child(5) {transition-delay: 3.5s;}
        &:nth-child(6) {transition-delay: 3.7s;}
    }
}
[data-sectionstate="active"] .animal-icons {
    * {
        opacity: 1;
        transform: translate(0,0); 
    }
}

#section1 {
  .col-start-1 {
    img {
      // hamster
      transition: all .5s ease-out;
      transition-delay: .5s;
      opacity: 0;
      transform: translate(-30px,0px);
    }
    .slide-right {
      transition: all .5s ease-out;
      opacity: 0;
      transform: translate(-10px,0px);
      &:nth-child(1) {transition-delay: 1s;}
      &:nth-child(2) {transition-delay: 1.2s;}
    }
    .button {
      transition: all .5s ease-out;
      transition-delay: 1.7s;
      opacity: 0;
      transform: translate(0px,-10px);
    }
  }
  .col-start-7 {
    .slide-right {
      transition: all .5s ease-out;
      opacity: 0;
      transform: translate(-10px,0px);
      &:nth-child(1) {transition-delay: 1s;}
      &:nth-child(2) {transition-delay: 1.2s;}
      &:nth-child(3) {transition-delay: 1.5s;}
      &:nth-child(4) {transition-delay: 1.7s;}
      }
    .button {
      transition: all .5s ease-out;
      transition-delay: 1.7s;
      opacity: 0;
      transform: translate(0px,-10px);
    }
  }
  .col-start-8 {
      transition: all .5s ease-out;
      opacity: 0;
      transition-delay: 1.8s;
      transform: translate(20px,0px);
  }
  &[data-sectionstate="active"] {
    .col-start-1 {
    img {
      opacity: 1;
      transform: translate(0px,0px);
      }
    .slide-right {
        opacity: 1;
        transform: translate(0px,0px);
      }
    .button {
        opacity: 1;
        transform: translate(0px,0px);
    }
    }  
    .col-start-7 {
      .slide-right {
        opacity: 1;
        transform: translate(0px,0px);
      }
      .button {
        opacity: 1;
        transform: translate(0px,0px);
      }
    }
    .col-start-8 {
        opacity: 1;
        transform: translate(0px,0px);
    }
}
}

#section2 {
  .row-grid:nth-child(1) {
    .column-grid:nth-child(1) {
      transition: all .5s ease-out;
      opacity: 0;
      transform: translate(-10px,0px);
    }
    .column-grid:nth-child(2) {
      transition: all 1s ease-out;
      opacity: 0;
      transition-delay: 1s;
      transform: translate(-10px,0px)scale(.8);
      transform-origin: top right;
    }
  }
  .row-grid:nth-child(2) {
    .column-grid:nth-child(1) {
      transition: all .5s ease-out;
      opacity: 0;
      transition-delay: .5s;
      transform: translate(-10px,0px);
    }
    .column-grid:nth-child(2) {
      transition: all .5s ease-out;
      opacity: 0;
      transition-delay: .7s;
      transform: translate(-10px,0px);
    }
  }
  
  &[data-sectionstate="active"] {
    .row-grid:nth-child(1) {
      .column-grid:nth-child(1) {
        opacity: 1;
        transform: translate(0px,0px);
      }
      .column-grid:nth-child(2) {
        opacity: 1;
        transform: translate(0px,0px)scale(1);
      }
    }
    .row-grid:nth-child(2) {
      .column-grid:nth-child(1) {
        opacity: 1;
        transform: translate(0px,0px);
      }
      .column-grid:nth-child(2) {
        opacity: 1;
        transform: translate(0px,0px);
      }
    }
  }
}

#section3 {
    .col-start-1.col-end-5 {
        transition: all .5s ease-out;
        transition-delay: 2s;
        transform: translate(0px, 10px);
        opacity: 0; 
    }
    .col-start-7.col-end-9 {
        transition: all .5s ease-out;
        transition-delay: 2.2s;
        transform: translate(-30px, 0px);
        opacity: 0; 
    }
    .col-start-10.col-end-12 {
        transition: all .5s ease-out;
        transition-delay: 2.5s;
        transform: translate(-30px, 0px);
        opacity: 0; 
    }
    &[data-sectionstate="active"] {
        .col-start-1.col-end-5 {
            transform: translate(0px, 0px);
            opacity: 1; 
        }
        .col-start-7.col-end-9 {
            transform: translate(0px, 0px);
            opacity: 1; 
        }
        .col-start-10.col-end-12 {
            transform: translate(0px, 0px);
            opacity: 1; 
        }
    }
}

#section4 {
    .column-grid:nth-child(1) {
        transition: all .5s ease-out;
        transition-delay: .5s;
        opacity: 0;
        transform: translate(-50px,0px);
    }
    .column-grid:nth-child(2) {
        transition: all .7s ease-out;
        transition-delay: .7s;
        opacity: 0;
        transform: translate(10px,30px) scale(.9);
        transform-origin: right right;
    }
    .col-start-7 {
        transition: all .5s ease-out;
        transition-delay: 1s;
        transform: translate(-50px, 0px);
        opacity: 0; 
        // background: red;
    }

    &[data-sectionstate="active"] {
        .column-grid:nth-child(1) {
            opacity: 1;
            transform: translate(0px,0px);
        }
        .column-grid:nth-child(2) {
            opacity: 1;
            transform: translate(0px,0px) scale(1);
        }
        .col-start-7 {
            opacity: 1;
            transform: translate(0px,0px);
        }
    }
}

#services-top {
  img {
    transition: all .7s ease-out;
    transition-delay: 1.7s;
    opacity: 0;
    transform: translate(0px,10px) scale(.9);
    transform-origin: bottom center;
  }

  .col-start-1 {
    .sectionhead {
      transition: all .5s ease-out;
      transition-delay: .7s;
      opacity: 0;
      transform: translate(0px,20px);
    }
    h3 {
      transition: all .5s ease-out;
      transition-delay: 1s;
      opacity: 0;
      transform: translate(0px,10px);
    }
    p {
      transition: all .5s ease-out;
      transition-delay: 1.2s;
      opacity: 0;
      transform: translate(0px,10px);
    }
    a {
      transition: all .5s ease-out;
      transition-delay: 1.5s;
      opacity: 0;
      transform: translate(0px,10px);
    }
  }

  .col-start-9 {
    h4 {
      transition: all .5s ease-out;
      transition-delay: 1.9s;
      opacity: 0;
      transform: translate(-30px,0px);
    }
    p {
      transition: all .5s ease-out;
      transition-delay: 2.1s;
      opacity: 0;
      transform: translate(-30px,0px);
    }
  }

  &[data-sectionstate="active"] {
    .sectionhead {
      opacity: 1;
      transform: translate(0px,0px);
    }
    h4 {
      opacity: 1;
      transform: translate(0px,0px);
    }
    img {
      opacity: 1;
      transform: translate(0px,0px) scale(1);
    }

    .col-start-1 {
      .sectionhead {
        opacity: 1;
        transform: translate(0px,0px);
      }
      h3 {
        opacity: 1;
        transform: translate(0px,0px);
      }
      p {
        opacity: 1;
        transform: translate(0px,0px);
      }
      a {
        opacity: 1;
        transform: translate(0px,0px);
      }
    }

    .col-start-9 {
      h4 {
        opacity: 1;
        transform: translate(0px,0px);
      }
      p {
        opacity: 1;
        transform: translate(0px,0px);
      }
    }
  }
}

#services {
  .col-start-1.col-end-5 {
    transition: all .5s ease-out;
    opacity: 0;
    transition-delay: .25s;
    transform: translate(0px,-10px);
  }
  .col-start-9:nth-child(4) {
    // cats & dogs
    transition: all .7s ease-out;
    opacity: 0;
    transition-delay: .7s;
    transform: translate(-20px,0px);
  }
  .col-start-1.col-end-4 {
    // reptiles & aqua
    transition: all .7s ease-out;
    opacity: 0;
    transition-delay: 1s;
    transform: translate(-20px,0px);
  }
  .col-start-9:nth-child(3) {
    // birds & parrots
    transition: all .7s ease-out;
    opacity: 0;
    transition-delay: 1.2s;
    transform: translate(-20px,0px);
  }  
  .col-start-9:nth-child(2) {
    // microchipping
    transition: all .7s ease-out;
    opacity: 0;
    transition-delay: 1.8s;
    transform: translate(-20px,0px);
  }
  .service-gifs:nth-child(3) {
    // Pug gif
    transition: all .7s ease-out;
    opacity: 0;
    transition-delay: .5s;
    transform: translate(-20px,0px)scale(.8);
    transform-origin: bottom center;
  }
  .col-start-1.col-end-4>img {
    // chameleon
    transition: all .7s ease-out;
    opacity: 0;
    transition-delay: .5s;
    transform: translate(-20px,0px)scale(.8);
    transform-origin: bottom center;
  }
  .service-gifs:nth-child(2) {
    // tiel
    transition: all .7s ease-out;
    opacity: 0;
    transition-delay: .8s;
    transform: translate(-20px,0px)scale(.8);
    transform-origin: bottom center;
  }
  .service-gifs:nth-child(1) {
    // kitty
    transition: all .7s ease-out;
    opacity: 0;
    transition-delay: 1.2s;
    transform: translate(-20px,0px)scale(.8);
    transform-origin: bottom center;
  }

  &[data-sectionstate="active"] {
    .col-start-1.col-end-5 {
      opacity: 1;
      transform: translate(0px,0px);
    }
    .col-start-9:nth-child(4) {
      // cats & dogs
      opacity: 1;
      transform: translate(0px,0px);
    }
    .col-start-1.col-end-4 {
      // reptiles
      opacity: 1;
      transform: translate(0px,0px);
    }
    .col-start-9:nth-child(3) {
      // birds
      opacity: 1;
      transform: translate(0px,0px);
    }
    .col-start-9:nth-child(2) {
      // microchipping
      opacity: 1;
      transform: translate(0px,0px);
    }
    .service-gifs:nth-child(3) {
      // Pug gif
      opacity: 1;
      transform: translate(0px,0px)scale(1);
    }
    .col-start-1.col-end-4>img {
      // chameleon
      opacity: 1;
      transform: translate(0px,0px)scale(1);
    }
    .service-gifs:nth-child(2) {
      // tiel
      opacity: 1;
      transform: translate(0px,0px)scale(1);
    }
    .service-gifs:nth-child(1) {
      // kitty
      opacity: 1;
      transform: translate(0px,0px)scale(1);
    }
  }

}

#services-bottom {
  img {
    transition: all .5s ease-out;
    opacity: 0;
    transition-delay: .25s;
    transform: translate(-50px,0px)scale(.8);
    transform-origin: left center;
  }
  .column-grid:nth-child(1) {
    transition: all .5s ease-out;
    opacity: 0;
    transition-delay: .5s;
    transform: translate(-10px,0px);
    &>.sectionhead {transition-delay: .2;}
    &>h3 {transition-delay: .4;}
  }
  .column-grid:nth-child(2) {
    transition: all .5s ease-out;
    opacity: 0;
    transition-delay: .7s;
    transform: translate(0px,10px);
  }
  &[data-sectionstate="active"] {
    img {
      opacity: 1;
      transform: translate(0px,0px)scale(1);
    }
    .column-grid:nth-child(1) {
      opacity: 1;
      transform: translate(0px,0px);
    }
    .column-grid:nth-child(2) {
      opacity: 1;
      transform: translate(0px,0px);
  }
}
}

#contact {
  .hero-fade-in {
    transition: all .5s ease-out;
    opacity: 0;
    transform: translate(0,-20px);
    &:nth-child(1) {transition-delay: .3s;}
    &:nth-child(2) {transition-delay: .7s;}
    &:nth-child(3) {transition-delay: 1.2s;}
    &:nth-child(4) {transition-delay: 1.5s;}
    &:nth-child(5) {transition-delay: 1.7s;}
    }
&[data-sectionstate="active"] {
  .hero-fade-in {
    opacity: 1;
    transform: translate(0,0); 
    }
}
  #contact-tiel {
    transition: all .5s ease-out;
    opacity: 0;
    transition-delay: .5s;
    transform: translate(-30px,0px)scale(.8);
    }
  form {
    transition: all .5s ease-out;
    opacity: 0;
    transition-delay: 1s;
    transform: translate(-20px,0px);
    }
  &[data-sectionstate="active"] {
    #contact-tiel {
      opacity: 1;
      transform: translate(0,0px)scale(1);
      }
    form {
      opacity: 1;
      transform: translate(0,0px);
      }
  }
  .pawprints-2 {
    top: 10vh;
    z-index: -1;
  }
}

#login {
  .hero-fade-in {
    transition: all .5s ease-out;
    opacity: 0;
    transform: translate(0,-20px);
    &:nth-child(1) {transition-delay: .3s;}
    &:nth-child(2) {transition-delay: .7s;}
    &:nth-child(3) {transition-delay: 1s;}
    &:nth-child(4) {transition-delay: 1.2s;}
    &:nth-child(5) {transition-delay: 1.5s;}
    }
  form {
    transition: all .5s ease-out;
    opacity: 0;
    transform: translate(-10px,0px);
    transition-delay: 1.2s;
  }
  #kitty-bunny {
    transition: all .5s ease-out;
    opacity: 0;
    transition-delay: 1.5s;
    transform: translate(-30px,0px)scale(.9);
    transform-origin: right center;
}
&[data-sectionstate="active"] {
  .hero-fade-in {
    opacity: 1;
    transform: translate(0,0); 
    }
  form {
    opacity: 1;
    transform: translate(0,0); 
  }
  #kitty-bunny {
    opacity: 1;
    transform: translate(0,0)scale(1); 
  }
}
}

// PawPrints
.animate-on-scroll.paws {
    position: relative;
    // min-height: 1vh;
    // overflow-x: hidden;
}

.pawprints {
    position: absolute;
    top: -50vh;
    z-index: 2;
    div {
      width: 50px;
      height: 50px;
      margin: 10px;
      transition: all ease-out .25s;
      opacity: 0;
  
      &:nth-child(1) {
        transform: translate(-150px, -10px) rotate(-45deg);
      }
      &:nth-child(2) {
        transform: translate(-40px, -60px) rotate(5deg);
      }
      &:nth-child(3) {
        transform: translate(-15px, 20px) rotate(-60deg);
      }
      &:nth-child(4) {
        transform: translate(110px, -30px) rotate(-45deg);
      }
      &:nth-child(5) {
        transform: translate(20px, 10px) rotate(-25deg);
      }
      &:nth-child(6) {
        transform: translate(140px, 20px) rotate(5deg);
      }
      &:nth-child(7) {
        transform: translate(-30px, 25px) rotate(35deg);
      }
      &:nth-child(8) {
        transform: translate(25px, 50px) rotate(70deg);
      }
      &:nth-child(9) {
        transform: translate(-130px, 30px) rotate(75deg);
      }
      &:nth-child(10) {
        transform: translate(-120px, 70px) rotate(90deg);
      }
    }
  }

  section[data-sectionstate="active"] .pawprints {
    div {
      opacity: .3;
    }
    div:nth-child(10) { transition-delay: $pawprint-delay; }
    div:nth-child(9) { transition-delay: $pawprint-delay + $pawprint-increment; }
    div:nth-child(8) { transition-delay: $pawprint-delay + ($pawprint-increment * 2); }
    div:nth-child(7) { transition-delay: $pawprint-delay + ($pawprint-increment * 3); }
    div:nth-child(6) { transition-delay: $pawprint-delay + ($pawprint-increment * 4); }
    div:nth-child(5) { transition-delay: $pawprint-delay + ($pawprint-increment * 5); }
    div:nth-child(4) { transition-delay: $pawprint-delay + ($pawprint-increment * 6); }
    div:nth-child(3) { transition-delay: $pawprint-delay + ($pawprint-increment * 7); }
    div:nth-child(2) { transition-delay: $pawprint-delay + ($pawprint-increment * 8); }
    div:nth-child(1) { transition-delay: $pawprint-delay + ($pawprint-increment * 9); }
  }

  .pawprints-2 {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: -50vh;
    right: 0;
    overflow: hidden;
  
    div {
      width: 50px;
      height: 50px;
      margin: 10px;
      transition: all ease-out .25s;
      opacity: 0;
  
      &:nth-child(1) {
        transform: translate(550px, 50px) rotate(90deg);
      }
      &:nth-child(2) {
        transform: translate(480px, 120px) rotate(90deg);
      }
      &:nth-child(3) {
        transform: translate(360px, -20px) rotate(100deg);
      }
      &:nth-child(4) {
        transform: translate(220px, -30px) rotate(55deg);
      }
      &:nth-child(5) {
        transform: translate(280px, 10px) rotate(70deg);
      }
      &:nth-child(6) {
        transform: translate(110px, -15px) rotate(50deg);
      }
      &:nth-child(7) {
        transform: translate(180px, 35px) rotate(45deg);
      }
      &:nth-child(8) {
        transform: translate(40px, 50px) rotate(45deg);
      }
      &:nth-child(9) {
        transform: translate(120px, 120px) rotate(15deg);
      }
      &:nth-child(10) {
        transform: translate(0px, 130px) rotate(25deg);
      }
    }
  }

  section[data-sectionstate="active"] .pawprints-2 {
    div {
      opacity: .3;
    }
    div:nth-child(10) { transition-delay: $pawprint-delay; }
    div:nth-child(9) { transition-delay: $pawprint-delay + $pawprint-increment; }
    div:nth-child(8) { transition-delay: $pawprint-delay + ($pawprint-increment * 2); }
    div:nth-child(7) { transition-delay: $pawprint-delay + ($pawprint-increment * 3); }
    div:nth-child(6) { transition-delay: $pawprint-delay + ($pawprint-increment * 4); }
    div:nth-child(5) { transition-delay: $pawprint-delay + ($pawprint-increment * 5); }
    div:nth-child(4) { transition-delay: $pawprint-delay + ($pawprint-increment * 6); }
    div:nth-child(3) { transition-delay: $pawprint-delay + ($pawprint-increment * 7); }
    div:nth-child(2) { transition-delay: $pawprint-delay + ($pawprint-increment * 8); }
    div:nth-child(1) { transition-delay: $pawprint-delay + ($pawprint-increment * 9); }
  }

  .pawprints-3 {
    position: absolute;
    z-index: 2;
    top: -50vh;
    right: 90vh;
    // border: 1px solid red;
    // width: 100%;
  
    div {
      width: 50px;
      height: 50px;
      margin: 10px;
      transition: all ease-out .25s;
      opacity: 0;
  
      &:nth-child(1) {
        transform: translate(-595px, 0px) rotate(-60deg);
      }
      &:nth-child(2) {
        transform: translate(-567px, 30px) rotate(-70deg);
      }
      &:nth-child(3) {
        transform: translate(-460px, -80px) rotate(-50deg);
      }
      &:nth-child(4) {
        transform: translate(-460px, -40px) rotate(-55deg);
      }
      &:nth-child(5) {
        transform: translate(-370px, -150px) rotate(-20deg);
      }
      &:nth-child(6) {
        transform: translate(-380px, -90px) rotate(-17deg);
      }
      &:nth-child(7) {
        transform: translate(-270px, -105px) rotate(-10deg);
      }
      &:nth-child(8) {
        transform: translate(-380px, -70px) rotate(35deg);
      }
      &:nth-child(9) {
        transform: translate(-280px, -90px) rotate(15deg);
      }
      &:nth-child(10) {
        transform: translate(-440px, -40px) rotate(50deg);
      }
      &:nth-child(11) {
        transform: translate(-340px, -80px) rotate(50deg);
      }
      &:nth-child(12) {
        transform: translate(-550px, -100px) rotate(90deg);
      }
      &:nth-child(13) {
        transform: translate(-540px, -90px) rotate(60deg);
      }
    }
  }

  section[data-sectionstate="active"] .pawprints-3 {
    div {
      opacity: .3;
    }
    div:nth-child(13) { transition-delay: $pawprint-delay + ($pawprint-increment * 0); }
    div:nth-child(12) { transition-delay: $pawprint-delay + ($pawprint-increment * 1); }
    div:nth-child(11) { transition-delay: $pawprint-delay + ($pawprint-increment * 2); }
    div:nth-child(10) { transition-delay: $pawprint-delay + ($pawprint-increment *3); }
    div:nth-child(9) { transition-delay: $pawprint-delay + ($pawprint-increment * 4);}
    div:nth-child(8) { transition-delay: $pawprint-delay + ($pawprint-increment * 5); }
    div:nth-child(7) { transition-delay: $pawprint-delay + ($pawprint-increment * 6); }
    div:nth-child(6) { transition-delay: $pawprint-delay + ($pawprint-increment * 7); }
    div:nth-child(5) { transition-delay: $pawprint-delay + ($pawprint-increment * 8); }
    div:nth-child(4) { transition-delay: $pawprint-delay + ($pawprint-increment * 9); }
    div:nth-child(3) { transition-delay: $pawprint-delay + ($pawprint-increment * 10); }
    div:nth-child(2) { transition-delay: $pawprint-delay + ($pawprint-increment * 11); }
    div:nth-child(1) { transition-delay: $pawprint-delay + ($pawprint-increment * 12); }
  }

  .pawprints-4 {
    position: absolute;
    z-index: 2;
    top: -40vh;
    right: 0;
    bottom: 0;
    // border: 1px solid green;
    overflow: hidden;
    width: 100%;
  
    div {
      width: 50px;
      height: 50px;
      margin: 10px;
      transition: all ease-out .25s;
      opacity: 0;
  
      &:nth-child(1) {
        transform: translate(920px, 450px) rotate(90deg);
      }
      &:nth-child(2) {
        transform: translate(1060px, 410px) rotate(110deg);
      }
      &:nth-child(3) {
        transform: translate(970px, 440px) rotate(90deg);
      }
      &:nth-child(4) {
        transform: translate(820px, 350px) rotate(55deg);
      }
      &:nth-child(5) {
        transform: translate(880px, 390px) rotate(70deg);
      }
      &:nth-child(6) {
        transform: translate(710px, 350px) rotate(50deg);
      }
      &:nth-child(7) {
        transform: translate(760px, 400px) rotate(45deg);
      }
      &:nth-child(8) {
        transform: translate(640px, 420px) rotate(45deg);
      }
      &:nth-child(9) {
        transform: translate(720px, 450px) rotate(15deg);
      }
      &:nth-child(10) {
        transform: translate(600px, 500px) rotate(25deg);
      }
    }
  }

  section[data-sectionstate="active"] .pawprints-4 {
    div {
      opacity: .3;
    }
    div:nth-child(10) { transition-delay: $pawprint-delay + ($pawprint-increment * 0); }
    div:nth-child(9) { transition-delay: $pawprint-delay + ($pawprint-increment * 1);}
    div:nth-child(8) { transition-delay: $pawprint-delay + ($pawprint-increment * 2); }
    div:nth-child(7) { transition-delay: $pawprint-delay + ($pawprint-increment * 3); }
    div:nth-child(6) { transition-delay: $pawprint-delay + ($pawprint-increment * 4); }
    div:nth-child(5) { transition-delay: $pawprint-delay + ($pawprint-increment * 5); }
    div:nth-child(4) { transition-delay: $pawprint-delay + ($pawprint-increment * 6); }
    div:nth-child(3) { transition-delay: $pawprint-delay + ($pawprint-increment * 7); }
    div:nth-child(2) { transition-delay: $pawprint-delay + ($pawprint-increment * 8); }
    div:nth-child(1) { transition-delay: $pawprint-delay + ($pawprint-increment * 9); }
  }
  
  .pawprints-5 {
    position: absolute;
    z-index: 2;
    top: -50vh;
    bottom: 10vh;
    right: 0;
    overflow: hidden;
    width: 100%;
    // border: red 1px solid;
  
    div {
      width: 50px;
      height: 50px;
      margin: 10px;
      transition: all ease-out .25s;
      opacity: 0;
  
      &:nth-child(1) {
        transform: translate(670px,350px)rotate(160deg);
      }
      &:nth-child(2) {
        transform: translate(630px,390px)rotate(160deg);
      }
      &:nth-child(3) {
        transform: translate(750px,350px)rotate(150deg);
      }
      &:nth-child(4) {
        transform: translate(700px,370px)rotate(140deg);
      }
      &:nth-child(5) {
        transform: translate(850px,340px) rotate(110deg);
      }
      &:nth-child(6) {
        transform: translate(800px,330px)rotate(120deg);
      }
      &:nth-child(7) {
        transform: translate(990px,270px)rotate(100deg);
      }
      &:nth-child(8) {
        transform: translate(1000px,300px)rotate(130deg);
      }
    }
  }
  section[data-sectionstate="active"] .pawprints-5 {
    div {
      opacity: .3;
    }
    div:nth-child(8) { transition-delay: $pawprint-delay + ($pawprint-increment * 7); }
    div:nth-child(7) { transition-delay: $pawprint-delay + ($pawprint-increment * 6); }
    div:nth-child(6) { transition-delay: $pawprint-delay + ($pawprint-increment * 5); }
    div:nth-child(5) { transition-delay: $pawprint-delay + ($pawprint-increment * 4); }
    div:nth-child(4) { transition-delay: $pawprint-delay + ($pawprint-increment * 3); }
    div:nth-child(3) { transition-delay: $pawprint-delay + ($pawprint-increment * 2); }
    div:nth-child(2) { transition-delay: $pawprint-delay + ($pawprint-increment * 1); }
    div:nth-child(1) { transition-delay: $pawprint-delay + ($pawprint-increment * 0); }
  }

  .pawprints-6 {
    position: absolute;
    z-index: 2;
    top: -40vh;
    bottom: 5vh;
    right: 0;
    overflow: hidden;
    width: 75%;
    // border: 1px solid red;
    // max-width: 1100px;
  
    div {
      width: 50px;
      height: 50px;
      margin: 10px;
      transition: all ease-out .25s;
      opacity: 0;
  
      &:nth-child(1) {
        transform: translate(800px, 700px) rotate(240deg);
      }
      &:nth-child(2) {
        transform: translate(800px, 520px) rotate(250deg);
      }
      &:nth-child(3) {
        transform: translate(690px, 540px) rotate(200deg);
      }
      &:nth-child(4) {
        transform: translate(660px, 590px) rotate(250deg);
      }
      &:nth-child(5) {
        transform: translate(480px, 500px) rotate(310deg);
      }
      &:nth-child(6) {
        transform: translate(510px, 570px) rotate(210deg);
      }
      &:nth-child(7) {
        transform: translate(320px, 380px) rotate(300deg);
      }
      &:nth-child(8) {
        transform: translate(300px, 420px) rotate(305deg);
      }
      &:nth-child(9) {
        transform: translate(150px, 320px) rotate(250deg);
      }
      &:nth-child(10) {
        transform: translate(180px, 360px) rotate(210deg);
      }
      &:nth-child(11) {
        transform: translate(40px, 340px) rotate(190deg);
      }
      &:nth-child(12) {
        transform: translate(150px, 340px) rotate(170deg);
      }
      &:nth-child(13) {
        transform: translate(45px, 380px) rotate(150deg);
      }
      &:nth-child(14) {
        transform: translate(180px, 370px) rotate(130deg);
      }
      &:nth-child(15) {
        transform: translate(120px, 430px) rotate(130deg);
      }
    }
  }

  section[data-sectionstate="active"] .pawprints-6 {
    div {
      opacity: .3;
    }
    div:nth-child(15) { transition-delay: $pawprint-delay + ($pawprint-increment * 14); }
    div:nth-child(14) { transition-delay: $pawprint-delay + ($pawprint-increment * 13); }
    div:nth-child(13) { transition-delay: $pawprint-delay + ($pawprint-increment * 12); }
    div:nth-child(12) { transition-delay: $pawprint-delay + ($pawprint-increment * 11); }
    div:nth-child(11) { transition-delay: $pawprint-delay + ($pawprint-increment * 10); }
    div:nth-child(10) { transition-delay: $pawprint-delay + ($pawprint-increment * 9); }
    div:nth-child(9) { transition-delay: $pawprint-delay + ($pawprint-increment * 8);}
    div:nth-child(8) { transition-delay: $pawprint-delay + ($pawprint-increment * 7); }
    div:nth-child(7) { transition-delay: $pawprint-delay + ($pawprint-increment * 6); }
    div:nth-child(6) { transition-delay: $pawprint-delay + ($pawprint-increment * 5); }
    div:nth-child(5) { transition-delay: $pawprint-delay + ($pawprint-increment * 4); }
    div:nth-child(4) { transition-delay: $pawprint-delay + ($pawprint-increment * 3); }
    div:nth-child(3) { transition-delay: $pawprint-delay + ($pawprint-increment * 2); }
    div:nth-child(2) { transition-delay: $pawprint-delay + ($pawprint-increment * 1); }
    div:nth-child(1) { transition-delay: $pawprint-delay + ($pawprint-increment * 0); }
  }

  .pawprints-7 {
    position: absolute;
    // z-index: -1;
    top: -50vh;
  
    div {
      width: 50px;
      height: 50px;
      margin: 10px;
      transition: all ease-out .25s;
      opacity: 0;
  
      &:nth-child(1) {
        transform: translate(-460px, 350px) rotate(0deg);
      }
      &:nth-child(2) {
        transform: translate(-580px, 350px) rotate(340deg);
      }
      &:nth-child(3) {
        transform: translate(-350px, 320px) rotate(260deg);
      }
      &:nth-child(4) {
        transform: translate(-200px, 190px) rotate(330deg);
      }
      &:nth-child(5) {
        transform: translate(-190px, 260px) rotate(330deg);
      }
      &:nth-child(6) {
        transform: translate(-70px, 230px) rotate(345deg);
      }
      &:nth-child(7) {
        transform: translate(-50px, 420px) rotate(10deg);
      }
      &:nth-child(8) {
        transform: translate(-150px, 300px) rotate(40deg);
      }
      &:nth-child(9) {
        transform: translate(-160px, 500px) rotate(50deg);
      }
      &:nth-child(10) {
        transform: translate(-250px, 350px) rotate(10deg);
      }
      &:nth-child(11) {
        transform: translate(-330px, 470px) rotate(45deg);
      }
      &:nth-child(12) {
        transform: translate(-460px, 320px) rotate(45deg);
      }
      &:nth-child(13) {
        transform: translate(-580px, 340px) rotate(60deg);
      }
      &:nth-child(14) {
        transform: translate(-500px, 380px) rotate(50deg);
      }
    }
  }

  section[data-sectionstate="active"] .pawprints-7 {
    div {
      opacity: .3;
    }
    div:nth-child(14) { transition-delay: $pawprint-delay + ($pawprint-increment * 0); }
    div:nth-child(13) { transition-delay: $pawprint-delay + ($pawprint-increment * 1); }
    div:nth-child(12) { transition-delay: $pawprint-delay + ($pawprint-increment * 2); }
    div:nth-child(11) { transition-delay: $pawprint-delay + ($pawprint-increment * 3); }
    div:nth-child(10) { transition-delay: $pawprint-delay + ($pawprint-increment * 4); }
    div:nth-child(9) { transition-delay: $pawprint-delay + ($pawprint-increment * 5);}
    div:nth-child(8) { transition-delay: $pawprint-delay + ($pawprint-increment * 6); }
    div:nth-child(7) { transition-delay: $pawprint-delay + ($pawprint-increment * 7); }
    div:nth-child(6) { transition-delay: $pawprint-delay + ($pawprint-increment * 8); }
    div:nth-child(5) { transition-delay: $pawprint-delay + ($pawprint-increment * 9); }
    div:nth-child(4) { transition-delay: $pawprint-delay + ($pawprint-increment * 10); }
    div:nth-child(3) { transition-delay: $pawprint-delay + ($pawprint-increment * 11); }
    div:nth-child(2) { transition-delay: $pawprint-delay + ($pawprint-increment * 12); }
    div:nth-child(1) { transition-delay: $pawprint-delay + ($pawprint-increment * 13); }
  }

// Helpers

// Slide-Up
.animate-slide-up,
[data-sectionstate="inactive"] .animate-scale-in {
    transition: all 1s ease-out;
    opacity: 0;
    transform: translate(0,100px);
}

[data-sectionstate="active"] .animate-slide-up {
    opacity: 1;
    transform: translate(0,0);  
}