// BUTTONS

button {
    font-size: inherit;
    font-family: $type-body;
}

a {
    cursor: pointer;
}

.button,
a.button,
input[type=submit], 
button {
    background-image: url(../img/buttons/pink_round_1.png);
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 96px;
    color: #ffffff;
    text-decoration:none;
    font-weight: 600;
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    margin: .5em .5em 1em 0em;
    cursor: pointer;
    border: none;
    &:hover {
        background-image: url(../img/buttons/pink_round_2.png);
    }
}

button.alt, 
input[type=submit].alt, a.button.alt {
    background-image: url(../img/buttons/pink_round_3.png);
    color: $pink;
    &:hover {
        background-image: url(../img/buttons/pink_round_4.png);
    }
}

.link-with-arrow {
    display: flex;
    &::after {
    content: "";
    background-image: url(../img/buttons/60x40_pink_arrow_1.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 65px;
    margin-top: 13px;
    cursor: pointer;
    }
}

.link-with-arrow-2 {
    display: flex;
    &::after {
    content: "";
    background-image: url(../img/buttons/60x40_pink_arrow_3.png);
    background-size: 75%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 55px;
    margin: -.25em 0 0 .5em;
    cursor: pointer;
    }
}

.animal-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;
    .icon-hover {
        width: 100px;
        padding-right: 10px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        p {
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 600;
            font-size: 75%;
            color: $pink;
            transition: all .2s ease-out;
            transform: translate(0px,0px);
            opacity: 0;
        }
        img {
            transition: all .2s ease-out;
            transform: scale(1);
            transform-origin: top center;
        }
    }
    .icon-hover:hover {
        p {
            opacity: 1;
            transform: translate(0,10px);
        }
        img {
            transform: scale(1.2);
        }
    }
} 