* {box-sizing: border-box;}

/* LAYOUT */

body {
    margin: 0;
    font-size: 88.75%;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 4%;
}

// Responsive Type
body { font-size: 87.5%; }

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }  
}

@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%;  }  
}

// Hide on Mobile 
@media (max-width: $breakpoint-x-small + 1px) {
    .hide-on-x-small {visibility: hidden;}
}

// Show on Mobile
@media (min-width: $breakpoint-x-small) {
    .show-on-x-small {display: none;}
}

// Hide on Small
@media (max-width: $breakpoint-small - 1px) {
    .hide-on-small {visibility: hidden;}
}

// Show on Small
@media (min-width: $breakpoint-small) {
    .show-on-small {display: none;}
}