img {
    max-width: 100%;
    height: auto;
}

.icons {
    display: inline-block;
    max-width: 17px;
    margin-right: 10px;
}

.icon-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 30px;
    li {
        position: relative;
        margin: 0;
        padding: 0;
    }
    address {display: inline-block;}
    .icons {
        position: absolute;
        left: -24px;
        top: 3px;
    }
}

#mango {
    position: absolute;
    max-width: 75%;
    top: -7%;
    left: 46%;
    bottom: 100%;
    transform: rotate(2deg);
}

.mango-wrapper {
    overflow: hidden;
    width: 100%;
    height: 175px;
    // border: 1px solid red;
    position: relative;
    top: -120px;
}

.hero-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
}

#hero-gif {
    max-width: 230px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 1;
}

#about-gif {
    max-width: 250px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 6;
}

#hamrun-updates {
    max-width: 175px;
    position: absolute;
    left: 55%;
    bottom: 60%;
    z-index: 1;
}

.map {margin: 1em 0;}

#koda {
    display: inline-block;
    position: absolute;
    max-width: 50%;
   top: 60%;
   left: 50%;
   z-index: 4;
}

.koda-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    // border: 1px solid red;
}

#kitty-bunny {
    position: absolute;
    left: 50%;
    max-width: 200px;
    top: 30%;
}

.footer-logo {
    margin-top: -150px;
    padding-bottom: 30px;
}
// Contact Page
.contact-wrapper {
    // overflow-x: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    // border: 1px red solid;
}

#contact-tiel {
    z-index: 4;
    position: absolute;
    @media (max-width: $breakpoint-x-small + 1px) {
        max-width: 200px;
        top: 45%;
        right: 10%;
    }
    @media (max-width: $breakpoint-small - 1px) {
        max-width: 270px;
        top: 40%;
        right: 10%;
    }
    @media (min-width: $breakpoint-small) {
        max-width: 400px;
        top: -25%;
        left: 2%;
    }
    @media (min-width: $breakpoint-medium) {
        max-width: 440px;
        top: -30%;
        left: 7%;
    }
    @media (min-width: $breakpoint-large) {
        max-width: 455px;
        top: -30%;
        left: 16%;
    }
}

@media (min-width: $breakpoint-small + 1px) {
    #mango {
        position: absolute;
        max-width: 40%;
        left: 40%;
        bottom: 0%;
        top: -20%;
        transform: rotate(2deg);
    }
    #hero-gif {
        max-width: 350px;
        position: absolute;
        left: 60%;
        bottom: 10%;
        z-index: 1;
    }
    #about-gif {
        max-width: 250px;
        position: absolute;
        left: 75%;
        bottom: 20%;
        z-index: 5;
    }
    #hamrun-updates {
        max-width: 25%;
        position: absolute;
        left: 2%;
        bottom: 25%;
        z-index: 1;
    }
    #koda {
        max-width: 25%;
       top: 25%;
       left: 77%;     
    }
    #kitty-bunny {
        position: absolute;
        left: 50%;
        top: 40%;
        max-width: 400px;
        z-index: 4;
    }
    #hamrun {
        // margin-bottom: -2em;
        margin: 0;
    }
}

@media (min-width: $breakpoint-large) {
    #hero-gif {
        max-width: 430px;
        position: absolute;
        left: 65%;
        bottom: 10%;
        z-index: 1;
    }
    #about-gif {
        max-width: 430px;
        position: absolute;
        left: 70%;
        bottom: 5%;
        z-index: 5;
    }
    .map {
        position: relative;
        img { margin-top: -10%;}
        }
    .footer-logo {
        display: inline-block;
        position: absolute;
        max-width: 130px;
        margin-top: 0;
        left: calc(4% - 130px);
        text-align: center;
        a {display: inline-block;}
    }
    #mango {
        position: absolute;
        max-width: 460px;
        left: 72%;
        bottom: 90%;
        transform: rotate(2deg);
    }
    .mango-wrapper {
        top: -160px;
    }
    #koda {
        display: inline-block;
        position: absolute;
        max-width: 30%;
       top: 15%;
       left: 70%;
    }
    #hamrun-updates {
        max-width: 340px;
        position: absolute;
        left: 5%;
        bottom: 15%;
        z-index: 1;
    }  
    #kitty-bunny {
        position: absolute;
        left: 50%;
        top: 30%;
        max-width: 600px;
    }
}

.service-gifs {
    display: inline-block;
    margin: 0 auto;
    align-content: center;
}