img {
    max-width: 100%;
    height: auto;
}

.animal-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
    img {
        padding-right: 10px;
    }
}

.icons {
    display: inline-block;
    max-width: 17px;
    margin-right: 10px;
}

.icon-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 30px;
    li {
        position: relative;
        margin: 0;
        padding: 0;
    }
    address {display: inline-block;}
    .icons {
        position: absolute;
        left: -24px;
        top: 3px;
    }
}

.footer-logo {
    display: none;
}

#mango {
    position: absolute;
    max-width: 250px;
    left: 46%;
    bottom: 95%;
    transform: rotate(2deg);
}

.map {margin: 1em 0;}

@media (min-width: $breakpoint-large) {
    .map {
        position: relative;
        img { margin-top: -10%;}
        }
    .footer-logo {
        display: block;
        position: absolute;
        max-width: 130px;
        left: calc(4% - 130px);
        text-align: center;
    }
    #mango {
        position: absolute;
        max-width: 460px;
        left: 72%;
        bottom: 70%;
        transform: rotate(2deg);
    }
}