// SITE STRUCTURE
.site-header {
    display: grid;
    grid-template-columns:1fr auto auto;
    grid-gap:1em;
    position: absolute;
    z-index:10;
    padding: 0.5em;
    width: 100%;

    .logo {
        max-width: 170px;
        margin: 10px;
    }

    .site-identity {
        display: flex;
        align-items: center;
        a {color:$blue;}
        h1 {
            font-family: $type-heading;
            font-size: 1.5em;
            font-weight: normal;
            line-height: 1;
            margin: .2em 0 0 0;
            white-space: nowrap;
            a {
                display: block;
                padding: 0.5em;
            }
        }
    }
}

.site-footer {
    background-color: $yellow-lter;
    padding: 2em 0 1em 0;
    .container {
        position: relative;
        z-index: 10;
        margin-top: -10%;
    }
}

.footer-logo {
    text-align: center;
}

// SECTIONS

section {
    padding: 1em 0 0 0;
    align-items: center;
    position: relative;
}

.hero {
    padding: 5em 0;
    background-image: url(../img/blocks/hero-top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

#about-top {
    padding: 5em 0;
    background-image: url(../img/blocks/about-top.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    .column-grid {z-index: 4;}
}

.mini-top {
    padding: 5em 0 0 0;
    background-image: url(../img/blocks/YellowPath211.svg);
    background-repeat: no-repeat;
}

#shop-panel {
    padding: 1em 0 1em 0;
    background-image: url(../img/blocks/section1-top.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    place-items: center;
    background-color: $blue-lt;
    .container {z-index: 5;}
    @media (min-width: $breakpoint-large) {
        padding: 1em 0 3em 0;
    }
}

#services-top {
    padding: 5em 0 0 0;
    background-image: url(../img/blocks/YellowPath211.svg);
    background-repeat: no-repeat;
    overflow-x: hidden;
    .column-grid {z-index: 4;}
}

#section1 {
    display: grid;
    background-color: $blue-lt;
    z-index: 4;
    .column-grid {
        z-index: 4;
    }
    .col-end-5 {
        margin-bottom: 0;
    }
}

#section2 {
    background-image: url(../img/blocks/section2-top.svg);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    // padding-top: 10em;
    margin-bottom: 3em;
    background-color: white;
}

#section3 {
    background-color:$blue-lter;
    .column-grid {z-index: 4;}
}

#section4 {
    background-image: url(../img/blocks/about-bottom.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -10% 0 0 0;
    padding-top: -5px;
    display: grid;
    place-items: center;
    .column-grid {z-index: 4;}
    @media (min-width: $breakpoint-small + 1px) {
        margin: -5% 0 0 0;
    }
}

#services {
    background-image: url(../img/blocks/services-top.svg);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    background-color: $blue-lt;
    .column-grid {z-index: 4;}
}

#services-bottom {
    background-image: url(../img/blocks/services-bottom.svg);
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
}

#contact-top {
    background-image: url(../img/blocks/contact-top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    padding-top: 5em;
    // background-color:$blue-lt;
    margin: 0;
    .column-grid {z-index: 4;}
}

#contact-bottom {
    // background-image: url(../img/blocks/contact-top.svg);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    .column-grid {z-index: 4;}
}

#login {
    background-image: url(../img/blocks/login-top.svg);
    background-repeat: no-repeat;
    // background-size: cover;
    display: grid;
    // place-items: center;
    padding-top: 5em;
    // background-color:$blue-lt;
    margin: 0;
    .column-grid {z-index: 4;}
}